* {
    margin:0;
    padding: 0;
}

html,
body {
    background-color: whitesmoke;
   font-family: 'Avenir', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.stickywrapper {
    position: sticky;
    top: 0;
    z-index: 2;
}

.start {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.shipping {
    display: flex;
    gap: 12px;
    align-items: end;
}

.help {
    display: flex;
    gap: 40px;
    text-decoration-line: underline;
}

.help p {
    cursor: pointer;
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 15.34px 40px;
    background-color: white;
}
.top1 {
    font-size: 40px;
}
.top4
{
    font-size: 17px;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.icon-group .count
{
    color:white;
    background-color: black;
    border-radius: 100%;
    width:16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
}
.usersection
{
    display: flex;
    gap:15px;
}
.cartsection
{
    display: flex;
    align-items: center;
    gap:5px;
}

.btop {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: whitesmoke;
    color: black;
    padding: 12px 12px;
    padding-left: 40px;
    cursor: pointer;
    font-weight: 200;
    font-size: 14px;
}

.btop p:hover {
    color: blueviolet;
}

.middle {
    width: 100%;
    height: 700px;
    background-image: url("../project/image/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s ease-in;
}

@keyframes change {
    0% {
        background-image: url("../project/image/laptop.jpg");
    }

    50% {
        background-image: url("../project/image/watch.jpg");
    }

    80% {
        background-image: url("../project/image/background.jpg");
    }

    100% {
        background-image: url("../project/image/mobiles.webp");
    }
}

.middle .content {
    padding-left: 250px;
    padding-top: 50px;
}

.m1 {
    background-color: red;
    width: 117px;
    height:23px;
    padding-bottom: 2px;
    margin: 2%;
    text-align: center;
    font-size: 20px;
    color: white;
}

.m2 {
    font-size: 60px;
    font-weight: 600;
}

.m3 {
    font-size: 20px;
    font-weight: 350;
}

.m4 {
    background-color: blueviolet;
    text-align: center;
    width: 200px;
    height:50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.m4:hover {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.middle2 {
    display: flex;
    width: 100%;
    height: 400px;
    gap: 40px;
    margin-top: 40px;
    background-color: whitesmoke;
}

.flex1{
    flex: 1;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex1 p {
    margin-left: 100px;
}
.m25 {
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
     width: 142px;
    height:40px;
    line-height: 35px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}

.m25:hover {
    background-color: black;
    color: white;
}
.m29 {
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    width: 142px;
    height:40px;
    line-height: 35px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}

.m29:hover {
    background-color: black;
    color: white;
}
.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    background-color: white;
    margin-left: 26px;
    margin-right: 26px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon-item i {
    font-size: 35px;
    color: black;
    min-width: 30px;
}

.icon-item .text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.icon-item .text p {
    margin: 0;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 600;
}

.inside div img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.inside div img:hover {
    transform: scale(1.1);
}

.inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container h1 {
    text-align: center;
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 60px;
}

.container {
    background-color: white;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 45px;
}

.inside div {
    flex-basis: 15%;
    padding: 20px;
}

.inside h2 {
    text-align: center;
}
.inside2 div img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.inside2 div img:hover {
    transform: scale(1.1);
}

.inside2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.container2 h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.container2 p
{
    text-align: center;
    margin:10px;
    font-size: 20px;
    color:blueviolet;
}
.inside2 .b
{
    width:58px;
    height:25px;
    border-radius:50px;
    background-color: red;
    color:white;
    font-size: 14px;
    line-height:25px;
    margin-left: 0%;
    margin-bottom: 20px;
}

.container2 {
    background-color: white;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 45px;
}

.inside2 div {
    flex-basis: 15%;
    padding: 20px;
    border:1px solid whitesmoke;
}

.inside2 h2 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer h2 {
    margin-bottom: 30px;
    font-size: 20px;
}

.footer p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.socialicons {
    display: flex;
    font-size: 20px;
    gap: 15px;
    margin-top: 15px;
}

.purchase {
    cursor: pointer;
}

.purchase p:hover {
    color: blueviolet;
}
.support {
    cursor: pointer;
}

.support p:hover {
    color: blueviolet;
}

.policy {
    cursor: pointer;
}

.policy p:hover {
    color: blueviolet;
}

hr.new1 {
    margin-left: 100px;
    margin-right: 100px;
}

.footer2 {
    text-align: center;
    font-size: 14px;
    padding-top: 40px;
    background-color: white;
    font-weight: 200;
}

.footer3 img {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.footer3 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 17px;
    color: black;
    text-align: center;
    font-weight: 300;
}
footer p{
    line-height: 13px;
}
footer span {
    text-decoration: underline;
}